---
import "../styles/main.css";

interface Props {
   title?: string;
   description?: string;
}

const { title = "Luxid", description = "A large assortment of beautiful web-based wallpapers for your desktop" } = Astro.props as Props;
---
<!doctype html>
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="IE=7" />

   <title>{title}</title>
   <meta name="description" content={description} />
   <meta name="author" content={title} />

   <!-- Meta Tages -->
   <meta property="og:title" content={title} />
   <!--<meta property="og:url" content="hazrd.pages.dev" />-->
   <!--<meta property="og:type" content="website" />-->
   <!--<meta property="og:site_name" content="Hazrd" />-->
   <!--<meta property="og:image" content="/images/logo.png" />-->
   <!--<meta property="og:image:secure_url" content="https://hazrd.pages.dev/images/logo.png" />-->
   <!--<meta property="og:image:height" content="800" />-->
   <!--<meta property="og:image:width" content="800" />-->
   <!--<meta property="og:image:alt" content="A logo featuring a stylized letter 'H' and a geometric design" />-->
   <meta property="og:description" content={description} />
   <!--<meta name="twitter:card" content="summary_large_image" />-->
   <meta name="twitter:title" content={title} />
   <meta name="twitter:description" content={description} />
   <!--<meta name="twitter:image" content="/images/logo_twitter.png" />-->
   <!--<meta name="twitter:image:width" content="801" />-->
   <!--<meta name="twitter:image:height" content="418" />-->
   <!--<meta name="twitter:image:type" content="image/png" />-->

   <!--<link-->
   <!--   rel="icon"-->
   <!--   href="/assets/favicon/favicon.svg"-->
   <!--   type="image/svg+xml"-->
   <!--   sizes="512x512"-->
   <!--/>-->
   <!--<link-->
   <!--   rel="icon"-->
   <!--   href="/assets/favicon/favicon-16x16.png"-->
   <!--   type="image/"-->
   <!--   sizes="16x16"-->
   <!--/>-->
   <!--<link-->
   <!--   rel="icon"-->
   <!--   href="/assets/favicon/favicon-32x32.png"-->
   <!--   type="image/"-->
   <!--   sizes="32x32"-->
   <!--/>-->
   <!--<link-->
   <!--   rel="apple-touch-icon"-->
   <!--   href="/assets/favicon/apple-touch-icon.png"-->
   <!--   sizes="180x180"-->
   <!--/>-->
   <!--<link rel="manifest" href="/assets/favicon/active/site.webmanifest" />-->
   <!--<link rel="sitemap" href="/sitemap-index.xml" />-->
</head>
